body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto Slab", serif;
}

nav {
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    top: 0;
    overflow: hidden;
}

nav a {
    padding: 10px;
}

nav a img {
    width: 48px;
}

nav p {
    font-size: 18pt;
    white-space: nowrap;
    margin: 0;
}

nav div {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

span {
    font-size: 12pt;
    color: gray;
}

nav button, footer button {
    height: 68px;
    width: auto;
    font-family: "Roboto Slab", serif;
    font-size: 12pt;
    padding: 20px;
    border: 0;
    background-color: white;
}

nav button:hover, footer button:hover, nav a:hover {
    background-color: rgb(236, 236, 236);
}

nav button img, footer button img, nav a img {
    height: 100%;
}

header img {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 110px 100px 110px;
}

article {
    max-width: 800px;
}

.contact, .contact img {
    display: flex;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

article section {
    margin-top: 100px;
}

article section h1 {
    font-size: 30pt;
    font-weight: normal;
}

article section video {
    width: 100%;
}

article section h2 {
    font-family: "Roboto", sans-serif;
    font-size: 22pt;
}

article section p {
    font-size: 18pt;
}

article section .in-text-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article section img {
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

footer p {
    padding: 0px 30px;
}

.grid {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.grid a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.grid a img {
    height: 200px;
}

@media (max-width: 530px) {
    main {
        padding: 30px;
    }

    article section:first-child {
        margin-top: 50px;
    }

    nav {
        align-items: flex-start;
    }
}